
# Игнор-лист файлов проекта

#1.Все содержимое любого каталога репозитория, соответствующего этому имени (включая все его файлы и подкаталоги), будет игнорироваться
tmp/*
__MACOSX/*
#2.Игнорирование файла во ВСЕХ директориях
Thumbs.db
.DS_Store
#3. Игнорирование файла во всех директориях с именем, содержащим спецсимволы
*.???_backup
*.????_old

